:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

@media (prefers-color-scheme: light) {
    html {
        background-color: #eee;
        color: #111;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: #111;
        color: #eee;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding-top: 2rem;
}

.question-and-answer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: min(50%, 66ch);

    margin: 2rem 0;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    margin: 1rem 0;
}

.question {
    font-size: 1.125rem;
    font-weight: bold;
}

.answer {
    line-height: 1.5;
}